#about {
  position: relative;
  margin: 250px auto 150px;
  width: 640px;
  height: 720px;
  color: $ultra1;

  h3 {
    margin-bottom: 15px;
    font-size: em(20);
    color: white;
  }

  p { margin-bottom: 20px; line-height: 28px; }
}

.how-we-help { margin-top: 80px; }
