#about {
  position: relative;
  margin: 250px auto 0;
  width: 640px;
  height: 720px;
  color: $ultra1;

  h2 {
    margin-bottom: 10px;
    font-size: em(24);
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 20px;
    line-height: 28px;
  }
}

.how-we-help {
  margin-top: 80px;
}
