.bg {
  position: fixed;
  overflow-y: auto;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-image:url("/static/imgs/background.png");
  background-position: center center;
  background-size: cover;
}

.main {
  position: relative;
  z-index: 9;
  width: 100%;
  height: auto;
  background: rgb(255,92,92);
  background: -moz-linear-gradient(top, rgba(255,92,92,.1) 0%, rgba(254,144,144,.1) 55%, rgba(254,187,187,.1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,92,92,.1) 0%,rgba(254,144,144,.1) 55%,rgba(254,187,187,.1) 100%);
  background: linear-gradient(to bottom, rgba(255,92,92,.1) 0%,rgba(254,144,144,.1) 55%,rgba(254,187,187,.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#febbbb',GradientType=0 );

  .lisk-price { float: left; margin: 20px 0 0 20px; color: white; }

  header {
    position: fixed;
    z-index: 10;
    font-size: em(18);
  }

  nav {
    position: fixed;
    z-index: 10;
    right: 0;
    margin: 20px 20px 0 0;
    li { float: left; margin-right: 15px; }
  }

  a, button {
    padding: 0;
    color: $limeGreen;
    text-decoration: underline;
    background: none;
    border: none;
    &:hover { color: lighten($limeGreen, 10%); text-decoration: none; }
  }

  h1 {
    margin-bottom: 15px;
    width: 100%;
    font-size: em(64);
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
  }

  h2 {
    margin-bottom: 10px;
    font-size: em(24);
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
  }
}

.particles-container {
  position: absolute;
  width: 200px;
  height: 380px;
  canvas { height: 380px !important; }
}

.obelisk {
  position: relative;
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}

.hero {
  position: relative;
  top: 70px;
  margin: 0 auto;
  width: 640px;

  h3 { margin-bottom: 10px; font-size: em(20); color: $ultra1; }

  section { width: 100%; }

  li {
    margin-left: 20px;
    color: $ultra2;
    line-height: 28px;
    list-style: disc;
  }
}
