#members {
  margin: 0 auto;
  width: 640px;
  height: 700px;
}

.members-content {
  position: relative;
  color: $ultra1;

  img {
    margin-right: 10px;
  }

  td {
    padding: 10px;
    width: 100px;
    border: 1px dotted $darkSlateGray;
    &:first-child {
      width: 140px;
    }
  }
}
